#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg') no-repeat;
  background-size: cover;
}

#startBtn {
  float: left;
}

#count {
  font-weight: bold;
  float: right;
}
