#logo {
  width: 200px;
  height: 200px;
  background: url(c24826f0f4069d426bfb.jpg) no-repeat;
  background-size: cover;
}

#startBtn {
  float: left;
}

#count {
  font-weight: bold;
  float: right;
}

